.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.btn-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25d366;
  padding: 15px;
  border-radius: 8px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.App {
  background-image: url("./assets/background3.jpeg");
  background-size: 50%;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
